<% if @answer.correct %>
    <h1 style="color: green;"> Parabéns você <strong>ACERTOU!!!</strong> \o/ </h1>
<% else %>
    <h1 style="color: red;"> Infelizmente você <strong>ERROU!!!</strong> ç-ç </h1>
<% end %>