<h1>Seja bem-vindo(a)!</h1>
<p>Gabriel Sappio</p>

<p> <%= 1+1 %> </p>
<p> Seu nome de trás para frente é: <%= "Gabriel Sappio Silva".reverse %> </p>
<% ax = "Minha variavel a" %>
<p>Imprimindo a  variavel a: <%= ax %></p>
<p> A data e hora é: <%= Time.new %></p>

