<div class="card" style="width: 50rem; left: 25%; top: 5em;" >
    <div class="card-body">
      <h1 class="card-title"><%= t('welcome') %></h1>
         <p class="card-text"><%= t('welcome_msg')%></p>
         <hr/>
         <p><%= t('menu_msg')%></p>
         <p class="lead">
         <%= render "menu" %>    
         </p>
    </div>
</div>
