<div class="card" style="width: 50rem; left: 25%; top: 5em;" >

<h1>Editing Mining Type</h1>
<br/>
<%= render 'form', mining_type: @mining_type %>
<hr/>
<%= link_to 'Show', @mining_type, class:"btn btn-primary" %>
<br/>
<%= link_to 'Back', mining_types_path, class:"btn btn-primary" %>

</div>
